.all {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 19px;
    border-radius: 50px;
    padding : 30px;
    margin : 10px;;
}

.first {
    background-color: hotpink;
}

.submit-button {
    margin-top: 10px;
}

.second {
    background-color: aqua;
}

.third {
    background-color: indigo;
}

.fourth {
    background-color: navajowhite;
}